// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #DDA77B;

body {
  background: $orange;
}

#button {
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: 1;
}

#button:hover {
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: 0.7;
}
